@import './fonts/material-icons/material-icons.scss';

body {
  // background: #eee !important;
 }
  

  #page-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    padding-top: 50px;
    .material-icons {
      margin-left: 10px;
    }

    .custom-file {
      margin-bottom: 15px;
    }

    #preview-content {
      video {
        width: 200px;
        height: 200px;
        border: 1px solid #dee2e6;
      }
    }
    .fade.in {
      opacity: 1;
    }
  }

  .hint {
    position: absolute;
    left: 5px;
    right: auto;
    bottom: 0px;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey; 
  }

/*# sourceMappingURL=main.css.map */
