<form id="fileupload" name="UploadFileForm" data-ng-controller="videoUploaderController" novalidate data-file-upload="options"
    data-enctype="multipart/form-data" novalidate="" autocomplete="off" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body fileupload-buttonbar">
                        <button type="button" class="btn btn-outline-primary fileinput-button start" data-ng-class="{disabled: disabled}">
                            <span class="d-flex justify-content-center align-items-center">
                                <span>Add Files</span>
                                <i class="material-icons">add</i>
                            </span>
                            <input type="file" name="files" data-ng-model="queue" multiple data-ng-disabled="disabled">
                        </button>

                        <!-- Start Upload Button -->
                        <button type="submit" class="btn btn-outline-info start" data-ng-click="submit()">
                            <span class="d-flex justify-content-center align-items-center">
                                <span>Upload all</span>
                                <i class="material-icons">cloud_upload</i>
                            </span>
                        </button>
                        <!-- Cancle All Upload Button -->
                        <button type="button" class="btn btn-outline-warning cancel" data-ng-click="cancel()">
                            <span class="d-flex justify-content-center align-items-center">
                                <span>Cancel upload</span>
                                <i class="material-icons ">close</i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="padding: 0" data-ng-if="active()">
            <br>
            <div class="progress" data-file-upload-progress="progress()">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100" data-ng-style="{width: num + '%'}"></div>
            </div>
        </div>
    </div>

    <br>
    <div class="container" id="preview-content" data-ng-if="queue.length > 0">
        <div class="row">
            <div class="col-sm-12 col-xs-6" data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                <div class="card" data-ng-init="fileInit(file)">
                    <div class="card-body">
                        <div class="alert " data-ng-class="file.error ? 'alert-danger' : 'alert-info'" role="alert" data-ng-if="(fetchedDetails && !file.isVideoReady) || file.error">
                            <span data-ng-hide="file.error">Please wait! you file {{file.name}} is processing...</span>
                            <span data-ng-if="file.error">
                                <span data-ng-if="file.error !== 'Forbidden'">Error: unable to upload reason - {{file.error}}</span>
                                <span data-ng-if="file.error === 'Forbidden'">Error: unable to upload, reached max upload limit.</span>
                            </span>
                        </div>
                        <div class="alert btn-block alert-success" data-ng-if="file.$response().result || (fetchedDetails && !file.isVideoReady)">Video successfully uploaded</div>
                        <div data-ng-if="fetchedDetails && file.isVideoReady" class="col-12">
                            <div class="d-flex justify-content-center" data-ng-bind-html="file.playVideoId"></div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 clear-fix" data-ng-switch data-on="!!file.thumbnailUrl">
                                <div class="div" data-ng-if="!file.$response().result">
                                    <div class="preview" data-ng-switch-when="true">
                                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>
                                            <img data-ng-src="{{file.thumbnailUrl}}" alt="">
                                        </a>
                                    </div>
                                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                </div>

                            </div>
                            <div class="col-sm-4 name" data-ng-switch data-on="!!file.url">
                                <div data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                    <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                    <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                </div>
                                <div data-ng-switch-default>{{file.name}}</div>
                                <!-- <h4 data-ng-if="file.error" class="error text-danger">{{file.error}}</h4> -->
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex justify-content-between" data-ng-if="!file.$response().result">
                                    <button type=" button " class="btn btn-outline-primary start " data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload"
                                        data-ng-disabled="file.$state()=='pending'">
                                        <span class="d-flex justify-content-center align-items-center ">
                                            <span>Upload </span>
                                            <i class="material-icons ">cloud_upload</i>
                                        </span>
                                    </button>
                                    <button type="button " class="btn btn-outline-warning cancel " data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel ">
                                        <span class="d-flex justify-content-center align-items-center ">
                                            <span>Cancel</span>
                                            <i class="material-icons ">close</i>
                                        </span>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-between " data-ng-if="file.$response().result" data-ng-init="fileuploaded(file)">
                                    <button type="button " class="btn btn-outline-success destroy " data-ng-click="file.$playVideo() ">
                                        <span class="d-flex justify-content-center align-items-center ">
                                            <span>Play</span>
                                            <i class="material-icons ">play_circle_outline
                                            </i>
                                        </span>
                                    </button>
                                    <button type="button " class="btn btn-outline-danger destroy " data-ng-click="file.$destroy() ">
                                        <span class="d-flex justify-content-center align-items-center ">
                                            <span>Delete</span>
                                            <i class="material-icons ">delete</i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</form>